.container
  .page-header
    %h1 About Bliply
  .jumbotron
    %h3 Bliply is a location-based social network that maintains your privacy |
        when you want it and allows you to explore and meet people nearby with similar interests. |
    %small Bloc Software Engineer Capstone 2016 <br>
    %small Created By: Stephen Wentling
