.page-header
  %h1 Add Interest
.row
  .col-md-4
    =form_for [current_user, @interest] do |f|
      .div.form-group
        = f.label :topic
        = f.text_field :topic, class: 'form-control'
      .div
        = f.submit "Save"
