// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
.upper {
  background-image: url(asset-path('space.jpeg'));
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

.landing {
  padding-top: 100px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lower {
  text-align: center;
}

.lower.row.col-md-4 {
  border: 5px;
}
