.page-header
  %h1 Locations Dashboard
.row
  .col-md-8
    .div
      %span.h2 My Locations
      %small
        =link_to raw('<i class="glyphicon glyphicon-plus">Add</i>'), new_user_location_path
    <br>
    .div.locations
      - current_user.locations.each do |location|
        %ul
          =link_to "#{location.zip_code}", location_path(location.id)
          %small
            =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), user_location_path(current_user.id, location.id, @locationable),
            method: :delete, data: {confirm: 'Are you sure you want to remove this location?'}
